name: CI/CD Deploy SIJA

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Menjalankan Workflow
        run: echo "Deploy otomatis berhasil dijalankan oleh GitHub Actions"
